/*
 * Copyright (c) 2023. Selldone® Business OS™
 *
 * Author: M.Pajuhaan
 * Web: https://selldone.com
 * ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
 *
 * All rights reserved. In the weave of time, where traditions and innovations intermingle, this content was crafted.
 * From the essence of thought, through the corridors of creativity, each word, and sentiment has been molded.
 * Not just to exist, but to inspire. Like an artist's stroke or a sculptor's chisel, every nuance is deliberate.
 * Our journey is not just about reaching a destination, but about creating a masterpiece.
 * Tread carefully, for you're treading on dreams.
 */

/*
 * Color theme
 */
$magenta ?= #eb008b
$blue ?= #0072FF
$cyan ?= #00d4f0
$green ?= #18d88b
$yellow ?= #ffdd57
$orange ?= #ffa557
$red ?= #ff3d3d
$purple ?= #a324ea



$deep-purple?= #512DA8
$teal?=#00796B
$cyan?=#0097A7
$amber?=#FFA000
$pink?=#C2185B
$blue-grey?=#455A64


/*
 * Graysacle
 */
$black ?= #000
$dark ?= #323c47
$gray ?= #c1c1c1
$gray-dark ?= darken($gray, 10%)
$gray-light ?= lighten($gray, 10%)
$light ?= #f5f5f5
$white ?= #fff
