/*
 * Copyright (c) 2023. Selldone® Business OS™
 *
 * Author: M.Pajuhaan
 * Web: https://selldone.com
 * ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
 *
 * All rights reserved. In the weave of time, where traditions and innovations intermingle, this content was crafted.
 * From the essence of thought, through the corridors of creativity, each word, and sentiment has been molded.
 * Not just to exist, but to inspire. Like an artist's stroke or a sculptor's chisel, every nuance is deliberate.
 * Our journey is not just about reaching a destination, but about creating a masterpiece.
 * Tread carefully, for you're treading on dreams.
 */

.page-content
  font-size var(--base-font-size)

  h1{
    font-size: var(--h1-font-size)
    font-weight: bolder
    margin-left:auto;
    margin-right:auto;
    max-width 1200px;
  }
  h2{
    font-size: var(--h2-font-size)
    font-weight: bolder
    margin-left:auto;
    margin-right:auto;
    max-width 1200px;

  }
  h3{
    font-size: var(--h3-font-size)
    font-weight: bolder
    margin-left:auto;
    margin-right:auto;
    max-width 1200px;

  }
  h4{
    font-size: var(--h4-font-size)
    font-weight: bolder
    margin-left:auto;
    margin-right:auto;
    max-width 1200px;

  }
  h5{
    font-size: var(--h5-font-size)
    font-weight: bolder
    margin-left:auto;
    margin-right:auto;
    max-width 1200px;

  }
  h6{
    font-size: var(--h6-font-size)
    font-weight: bolder
    margin-left:auto;
    margin-right:auto;
    max-width 1200px;

  }
  p{
    font-size: var(--p-font-size)
    margin-left:auto;
    margin-right:auto;
    max-width 1200px;

  }
  small{
    color inherit
  }
 /* .d-flex{
    .image-container{
      min-width max-content
      min-height: max-content;
      flex-basis: 50%;
    }
  }*/
  .container{
    transition all 0.5s ease-in-out
  }

  .v-img{
    transition: all 0.7s ease-in-out;
  }
  .col{
    transition: all 0.6s ease-in-out;
  }
  .v-btn,button{
    transition: all 0.5s ease-in-out !important; // Override default transition on button!
  }

  .add-col,.remove-btn{
    color #fff
    cursor pointer
    user-select none
    border-radius 12px
    margin 12px
    min-height  84px
    min-width  84px
    display flex
    align-items center;
    justify-content center;
    flex-grow 0 !important
    align-self center

  }
  .add-col{
    background-color #0ba360
    &:hover{
      background-color #0b7b49
    }
  }
  .remove-btn{
    background-color #a30b0b
    &:hover{
      background-color #7b0b0b
    }
  }



  .section
    padding: 20px 30px
    text-align center

    &-title
      font-size: 30px
      color: inherit

    &-sub-title
      font-size: 25px
      color: inherit



  .is-editable{
    transition:all 0.35s linear;
    .x--container,.x--row,.x--buttons,.x--button{
      transition:all 0.35s linear;
    }


    section{
      &:hover{ // Fore be on top of all to better edit!
        z-index: 100;
      }
      &.is-blur {
        filter: grayscale(100%) opacity(0.5);
        &:hover {
          filter: none;
        }

      }
    }
  }
  // Set min high for editable texts:
  h1,h2,h3,h4,h5,h6,p{
    &.is-editable{
      min-height: 14px
    }
  }


&-paragraph
      font-size: 16px
      color: lighten($dark, 20%)



    &.is-samin
      background: var(--plate-light-1)
      color:#fff

    &.is-red
      background: var(--plate-light-2)
      color:#fff

    &.is-black
      background: var(--plate-light-3)
      color:#fff

    &.is-green
      background: var(--plate-light-4)
      color:#fff

    &.is-blue
      background: var(--plate-light-5)
      color:#fff

    &.is-white
      background: var(--plate-light-6)



    &.is-deep-purple
      background: var(--plate-light-7)
      color:#fff


    &.is-teal
      background: var(--plate-light-8)
      color:#fff


    &.is-cyan
      background: var(--plate-light-9)
      color:#fff




    &.is-amber
      background: var(--plate-light-10)

    &.is-pink
      background: #C2185B
      color:#fff

    &.is-blue-grey
      background: var(--plate-light-11)
      color:#fff

    &.is-transparent
      background: transparent